header{ min-height: 100vh; width: 100%;
    background: url("../Files/pexels-pixabay-326311.jpg") no-repeat top center / cover;
    position: relative;
}



.about {
    height: 100%;
    width: 100%;
    
}


@media screen and (max-width: 769px) {

    .aboutimg {
        height: 500px;
    }
    
    
}




.aboutimg {
    height: 400px;
    width: 300px;
    background: url("../Files/buzzpic.jpg") no-repeat top center / cover;
    border-style: groove;
    border-radius: 50%;
}
